<!DOCTYPE html>
<html ng-app="controllerApp" >
<head>
	<script type="text/javascript" src="static/js/angular.min.js"></script>
	<script type="text/javascript" src="static/js/controller.js"></script>
	<title></title>
</head>
<body ng-controller="ControllerCtrl" ng-init="init('{{user|safe}}')">
	<p ng-repeat='(item,l) in list'>
		{{ '{{' }} item {{ '}}' }}
		{% raw %}
		{{ l | date:'HH:mm:ss'}}
		{% endraw %}

		<button ng-click='start(item)'>start</button>
		<button ng-click='stop(item)'>stop</button>
		<button ng-click='remove(item)'>remove</button>
	</p>
	<input ng-model='input'></input>
	<button ng-click='add()'>add</button>
</body>
</html>
